.button {
	float: left;
	margin-right: 20px;
}

.header {
	margin-bottom: 10px;
	float: left;
}

.buttons {
	float: left;
}

.btn-success:focus, .btn-success:hover {
	-moz-box-shadow: inset 0 0 0px white;
	-webkit-box-shadow: inset 0 0 0px white;
	box-shadow: inset 0 0 0px white;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
